
        /************************************** $CRITICAL CSS /**************************************/
* { text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-kerning: auto; }

html { font-family: sans-serif; -webkit-text-size-adjust: 100%; }

body { -webkit-font-smoothing: antialiased; background: #fffff8; color: #111; counter-reset: sidenote-counter; font-family: 'Breezesans', serif; height: 100%; margin: 0 auto; max-width: 1440px; font-size: 18px; }

*, *:before, *:after { box-sizing: border-box !important; }

section { column-width: 19em; column-gap: 0.5rem; }

/*article { display: inline-block; margin-bottom: 0.5rem; padding: 1rem; width: 100%; }*/

main {  margin: 0 auto; width: 100%; background-color: #fff; }

p { text-align: left; margin: 1rem 0; }

h1 { font-size: 3rem; font-weight: 800; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; margin: 0; text-transform: capitalize; }

h1 { font-size: 3.2rem; font-style: normal; margin-top: 1rem; }

h2 { font-size: 2.2rem; margin-bottom: 2.2rem; }

h3 { font-size: 1.7rem; }

p, table, blockquote, pre, img, .mini-note, ul li, ol li { box-sizing: border-box; }

li ul li, li ol li { max-width: 100%; }

p { position: relative; }

a, a:visited { color: #3243db; text-decoration: none; }

a:hover, a:visited:hover { color: #dc2828; }

blockquote { font-style: italic; margin: 0; padding: 2rem 0 2rem 4rem; }

blockquote footer { font-style: normal; font-size: 1.1rem; text-align: right; }

figure { align-items: flex-start; display: flex; margin: 0; padding: 0; position: relative; }

hr { background: #111; border: 0; height: 1px; margin: 1rem 0; width: 100%; }

/************************************** $DEFAULT ELEMENTS /**************************************/
figure { /*span*/ }

figure .marginnote, figure .sidenote { left: auto; position: relative; }

/************************************** $NAVIGATION /**************************************/
nav {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}
nav a, nav form {
    margin: 0.5rem;
    padding: 0.4rem 0.6rem;
    font-size: 1.3rem;
}
nav a:first-child { margin-left: 0; }

/************************************** $MEDIA QUERIES - TABLET /**************************************//*
@media (max-width: 850px) { body { width: calc(100% - 20px); } p, table, blockquote, pre, img, .mini-note, ul li, ol li { max-width: 100%; } nav .menu-icon { display: inline-block; } nav ul.site-nav { display: none; } nav ul.site-nav li { display: block; margin: 1rem 0; width: 100%; } nav ul.site-nav li a, nav ul.site-nav li a:visited { display: block; width: 100%; } figure { flex-direction: column; } }*/

/*------------rgb(19, 217, 35)----------------*/
.prev { max-width: 50%; float: right; text-align: right; }

.next { max-width: 50%; float: left; text-align: left; }

.pagination { font-size: 1.25rem; padding: 1rem 0; max-width: 700px; }

.pagination::after { content: ""; clear: both; display: block; }

.pagination a { color: blueviolet; font-weight: bold; }

.coverimg { width: 100px; float: left; padding: 4px 8px 4px 0px; }

::-moz-selection { background: #f7d2d2; color: #333; text-shadow: none; }

::selection { background: #9affc8; color: #000; text-shadow: none; }

.sitename { color: #664602 !important; font-size: 3rem; margin: 1rem 0 1rem; }

.title-tags { color: #777; font-size: 1.125rem; margin: 10px auto; }

.tags { background-color: #444; color: #fff; padding: 2px 5px; border-radius: 2px; text-decoration: none; }

.imgpost { text-align: center; }

.imgpost img { max-height: 400px; max-width: 100%;}
img {  max-width: 100%;}
/*------------------*/
ul, ol { padding: 0; list-style-position: inside; }

table { border-collapse: collapse; text-align: left; width: 100%; }

table tr { border-bottom: 1px solid black; }

table td { padding: 0.5rem; }

footer { margin: 1rem 0; text-align: center; color: inherit; }

h3 { font-size: 1.75rem; }

.postdesc { font-size: 1.2rem; }

.postlink { font-size: 2rem; }

.postdate { font-size: 0.9rem; }

   .content {  
       font-size: 30px;  
       padding: 8px 12px;  
       top: 10px;  
       width: 100%;  
       text-align: center;  
   }  
   .active {  
       color: #eff5d4;  
       background-color: #717171;  
   }  
textarea {
	resize: vertical;
	width : 100%;
	height: 140px;
	font-size: inherit;
	padding: 8px;
    margin: 0.3rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.poptags {
    background: #fff;
    margin: 8px 0 16px 0;
    box-shadow: 0px 0px 10px rgb(232 232 232);
}
.featured-article-line {
    padding: 10px 18px;text-shadow:none;border-bottom:1px solid #eee;
}
input[type=text], input[type=password], input[type=file] {
    outline: none;
    padding: 1rem;
    background: rgb(248 248 248);
    width: 100%;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: 100%;
    margin: 0.3rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit], button[type=submit] {
    outline: none;
    padding: 0.6rem 1rem;
    background: rgb(236, 237, 238);
    max-width: 50%;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: 120%;
    margin: 0.3rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

  .card {
    background-color: #fff;
    height: auto;
    width: auto;
    font-family: "Segoe UI", arial, sans-serif;
  }

  .featured-article-line:hover {
    box-shadow: 0px 0px 10px rgb(232 232 232);
  }

  .image img{
    width: 100%;
    height: auto;
    margin: 0px;
    object-fit: contain;
    border: 0px solid transparent;
  }
  .details {
    width: 100%;
padding : 1rem 0.8rem
  }/*
  .top,
  .middle,
  .fiddle,
  .bottom {
    position: relative;
    margin: 0;
    padding: 0px 7px;
  }*/
  .top .pinner {
    margin: 0 0 5px 0;
  }
  .top .pinner img {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    display: inline;
  }
  .top .pinner p {
    color: #ccc;
    position: relative;
    top: 0px;
    display: inline;
  }
  .top .title {
    font-size: 16px;
    font-weight: bold;
  }
  .middle {
    padding-top: 0px;
  }
  .middle div,
  .middle span {
    display: inline-block;
    color: #03a9f4;;
    font-size: 18px;
    font-weight: bold;
  }
  .middle p {
    margin-bottom: 6px;
    margin-top: 6px;
    font-family: "Montserrat",sans-serif;
  }
  .bottom .from {
    color: #de6565;
    font-family: "Segoe UI";
  }
p {
    font-size: 18px;
    margin: 0 0 4px 0;
    word-wrap: break-word;
}

 #blah {
	width: 100%;
}
form {
	margin: 10px;
}

         #image {
         width: 100%;
         }
.pincodemain {
    fill: none;
    box-shadow: 1px 1px 5px rgb(212 212 212);
    border-radius: 6px;
    background: #fff;
    width: 3rem;
    height: 3rem;
    padding: 2px;
    stroke: #1ed760;
}
         header {
         position: relative;
         top: 0;
         left: 0;
         /* box-shadow: 0 0 15px #00000030; */
         z-index: 10;
         width: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;
         background: #ffffff;
         padding: 0 50px 0;
         border-bottom: 1px solid #eee;
         }
         @media all and (max-width:800px) {
         header {
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
         flex-direction: column;
         padding: 10px !important;
         }
         header h2 {
         margin-top: 6px;
         margin-bottom: 10px;
         }
         h1 {
         font-size: 2rem;
         }
         }
         input::placeholder {
         font-weight: 400;
         font-size: 16px;
         }

         .ficons {
         padding: 0.4rem 0;
         font-size: 1rem;
         }
         .logoogle {
         fill: none;
         height: 2rem;
         padding: 2px;
         /* box-shadow: 1px 2px 5px rgb(212 212 212); */
         width: 2rem;
         border-radius: 8px;
         /* background: #fff; */
         stroke-width: 1.4;
         }
         .search_form__logo__button {
         cursor: pointer;
         height: 3.8rem;
         width: 3.8rem;
         background-color: #ffffff00;
         border: none;
         outline: none;
         border-radius: 0 6px 6px 0;
         background: url(https://www.qwant.com/maps/statics/images/qwant-logo.svg) no-repeat;
         background-size: contain;
         margin: 0 0 3rem 0;
         }
         .search-btn {
         height: 2.6rem;
         width: 3rem;
         padding: 0.3rem 0.6rem;
         background-color: #ffffff00;
         border: none;
         outline: none;
         border-radius: 0 5px 5px 0;
         display: flex;
         border-left: 1px solid #f3f3f3;
         align-items: center;
         }
         .search-field {
         font-weight: 400;
         border: 0px;
         outline: none;
         padding: 0rem 0.6rem;
         background: #0000;
         height: 2.6rem;
         color: #000;
         font-size: 1rem;
         font-family: Arial, Helvetica, sans-serif;
         width: 100%;
         }
         .d3 {
         display: flex;
         background: #ffffff;
         border: 2px solid #838383;
         max-width: 460px;
         width: 100%;
         align-items: center;
         border-radius: 4px;/*
         box-shadow: rgb(0 0 0 / 20%) 0 2px 12px 0;*/
         }
         .homeform {
         margin: 0;
         padding: 0.4rem;
         }
         .formcon {
         max-width: 560px;
         width: 100%;
         /*
         display: flex;
         justify-content: center;
         padding: 0.4rem;
         align-items: center;
         position: relative;
         left: 0;
         right: 0;
         top: 0rem;
         margin: 0 auto;
         z-index: 3;*/
         }
         .clrful {
         stroke-width: 1.4;
         border-radius: 5px;
         width: 3rem;
         height: 3rem;
         fill: none;
         stroke: #4f4f4f;
         box-shadow: none;
         display: block;
         stroke-linecap: round;
         stroke-linejoin: round;
         transition: .2s ease;
         }
         .srchicon {
         stroke-width: 1.4;
         border-radius: 5px;
         width: 2.4rem;
         height: 2.4rem;
         fill: none;
         stroke: #4f4f4f;
         box-shadow: none;
         display: block;
         stroke-linecap: round;
         stroke-linejoin: round;
         transition: .2s ease;
         }
         /*
         pallet: #b888f8,
         viridian: #7ff71f,
         pewter: #909078,
         cerulean: #2840f8,
         vermillion: #f89800,
         lavender: #c820f8,
         celadon: #28f828,
         saffron: #f8f800,
         fuschia: #f87878,
         cinnabar: #f84040
         */
header h2 {
    margin-top: 6px;
    margin-bottom: 10px;
}
main {
	max-width: 1200px;
}
.flexy {
	display:flex;
	justify-content: center;
}