<header>
         <h2>
            <a href="#">
               Tyuzu
            </a>
         </h2>
         <section class="formcon">
            <form method="POST" class="homeform">
               <div class="d3">
                  <input name="text" class="search-field" placeholder="Finds anything">
                  <label class="search-btn">
                     <input type="submit" style="display:none">
                     <svg class="srchicon" viewBox="0 0 24 24" width="100%" height="100%" role="img" stroke="#000000">
                        <circle cx="11" cy="11" r="8"></circle>
                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                     </svg>
                  </label>
               </div>
            </form>
         </section>
         <div>
            <svg class="pincodemain" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 800 800" x="0px" y="0px">
               <g id="art">
                  <image id="image" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://vignette.wikia.nocookie.net/loonatheworld/images/6/6d/Yves_debut_photo_6.png/revision/latest/scale-to-width-down/350?cb=20171120144804" preserveAspectRatio="xMidYMid slice"></image>
               </g>
            </svg>
         </div>
      </header>